datasets/My First Project*
external/
train_results/
*.log
# *.pt # git lfs track "*.pt"
# *.png # git lfs track "*.png"
# *.jpg # git lfs track "*.jpg"
# git config --global http.postBuffer 524288000 # 500M
wfgame-ai-server/logs/django.log
wfgame-ai-server/apps/reports/*
wfgame-ai-server/staticfiles/reports/*
wfgame-ai-server/apps/scripts/*